a {
  display: block;
  width:330px;
  padding: 10px 0;
  margin-left:600px ;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    rgba(230, 213, 189, 0.816) 0%,
    rgba(230, 213, 189, 0.816) 50%,
    rgba(243, 232, 217, 0.768) 50%,
    rgba(243, 232, 217, 0.768) 100%
  );
  
  transition: background-position ease 0.4s;
  text-align: center;
  color: rgb(112, 112, 112);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

a:hover {
  background-position: 0 0;
}


/*------------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------------------*/

@keyframes click-wave {
	0% {
		position: relative;
		width: 30px;
		height: 30px;
		opacity: 0.35;
	}
	100% {
		width: 100px;
		height: 100px;
		margin-top: -45px;
		margin-left: -45px;
		opacity: 0;
	}
}
.md-radio {
	position: relative;
	position: relative;
  top: 2.5px;
	right: 0;
	bottom: 0px;
	left: 0;
	width: 15px;
	height: 15px;
  border-radius: 50%;
	margin-right: 5px;
	cursor: pointer;
	transition: all 0.15s ease-out 0s;
	color: #ffffff;
	border: none;
	outline: none;
	background: rgba(243, 232, 217, 0.768);
	-webkit-appearance: none;
	        appearance: none;
}

.md-radio:checked {
	background: rgba(170, 143, 123, 0.7);
}
.md-radio:checked::before {
	font-size: 20px;
	line-height: 30px;
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;

	text-align: center;
}
.md-radio:checked::after {
	position: relative;
	display: block;
  border-radius: 50%;
	content: '';
	-webkit-animation: click-wave 0.65s;
	        animation: click-wave 0.65s;
	background: rgba(170, 143, 123, 0.7);
}

.tgt{
  width: 15px;
	height: 15px;
  
	color: rgba(170, 143, 123, 0.7);
  font-weight:bold;
}


/*------------------------------------------------------------------------------------------------------------*/
@keyframes click-wave {
	0% {
		position: relative;
		width: 30px;
		height: 30px;
		opacity: 0.35;
	}
	100% {
		width: 100px;
		height: 100px;
		margin-top: -45px;
		margin-left: -45px;
		opacity: 0;
	}
}
.op-radio {
	position: relative;
	position: relative;
  top: 5px;
	right: 0;
	bottom: 0px;
	left: 0;
	width: 20px;
	height: 20px;
  border-radius: 50%;
	margin-right: 5px;
	cursor: pointer;
	transition: all 0.15s ease-out 0s;
	color: #ffffff;
	border: none;
	outline: none;
	background: rgba(243, 232, 217, 0.768);
	-webkit-appearance: none;
	        appearance: none;
}

.inf{
  color:rgba(230, 213, 189, 0.816);
  font-weight: bold;
  height: 30px;
  line-height:40px;
  font-size: 20px;
  }

.op-radio:checked{
	background: rgba(170, 143, 123, 0.7);
}
.op-radio:checked + .inf{
	color:rgba(170, 143, 123, 0.7)

}


.op-radio:checked::before {
	font-size: 20px;
	line-height: 30px;
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;

	text-align: center;
}
.op-radio:checked::after {
	position: relative;
	display: block;
  border-radius: 50%;
	content: '';
	-webkit-animation: click-wave 0.65s;
	        animation: click-wave 0.65s;
	background: rgba(170, 143, 123, 0.7);
}

.tgt{
  width: 15px;
	height: 15px;
  
	color: rgba(170, 143, 123, 0.7);
  font-weight:bold;
}

/*------------------------------------------------------------------------------------------------------------*/









.fukidashi1 {
  display: none;
  width: 300px;
  position: absolute;
  top: 0;
  left: 1100px;
  padding: 16px;
  border-radius: 5px;
  background: rgb(231, 216, 195);
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.fukidashi:after {
  
}

.fukidashi2 {
  display: none;
  width: 300px;
  position: absolute ;
  top: 420px;
  left: 200px;
  padding: 16px;
  border-radius: 5px;
  background: rgb(231, 216, 195);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 10px;
}


.fukidashi3 {
  display: none;
  width: 300px;
  position: absolute;
  top: 460px;
  left: 200px;
  padding: 16px;
  border-radius: 5px;
  background: rgb(231, 216, 195);
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.fukidashi4 {
  display: none;
  width: 300px;
  position: absolute;
  top: 500px;
  left: 200px;
  padding: 16px;
  border-radius: 5px;
  background: rgb(231, 216, 195);
  color: rgb(255, 255, 255);
  font-weight: bold;
}


.fukidashi5 {
  display: none;
  width: 300px;
  position: absolute;
  top: 530px;
  left: 200px;
  padding: 16px;
  border-radius: 5px;
  background: rgb(231, 216, 195);
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.fukidashi6 {
  display: none;
  width: 300px;
  position: absolute;
  top: 10;
  left: 200px;
  padding: 16px;
  border-radius: 5px;
  background: rgb(231, 216, 195);
  color: rgb(255, 255, 255);
  font-weight: bold;
}



.hd:hover + .fukidashi1 {
  display: block;
  background-position: 0 0;
}


#trmh:hover + .fukidashi2 {
  display: block;
}
#nzgh:hover + .fukidashi3 {
  display: block;
}
#kshh:hover + .fukidashi4 {
  display: block;
}

#kkzh:hover + .fukidashi5 {
  display: block;
}

#kthh:hover + .fukidashi6 {
  display: block;
}



.container-u{
  display: flex;
  
  padding:  10px;            /* 余白指定 */
  overflow:  hidden;   /* floatで高さがなくなる問題解消 */
  
  height: 280px;
}


.container-d{
  display: flex;
  background-color: #fff;    /* 背景色指定 */
  padding:  10px;            /* 余白指定 */
  overflow:  hidden;   /* floatで高さがなくなる問題解消 */
  
  height: 280px;
}


#kjk{
  color: rgb(250, 214, 170);
  font-weight:bold;
  font-size: 15px;
  margin-right: 5px;
  margin-left: 130px;
}



#tk{
  color: rgb(226, 225, 173);
  font-weight:bold;
  font-size: 15px;
  margin-right: 5px;
}



#kzk{
  color: rgb(243, 193, 184);
  font-weight:bold;
  font-size: 15px;
  margin-right: 5px;
}

#mzk{
  color: rgb(231, 170, 218,0.55);
  font-weight:bold;
  font-size: 15px;
  margin-right: 5px;
}


#kzjk{
  color: rgb(231, 170, 218);
  font-weight:bold;
  font-size: 15px;
  margin-right: 5px;
}

#tkk{
  color: rgb(170, 231, 194);/*提出可能期間*/
  font-weight:bold;
  font-size: 15px;
  margin-right: 5px;
}

#tfk{
  color: rgba(170, 231, 194,0.6);/*提出不能期間*/
  font-weight:bold;
  font-size: 15px;
  margin-right: 5px;
}

#tyk{
  color: rgb(157, 218, 207); /*適用（可能）期間*/
  font-weight:bold;
  font-size: 15px;
  margin-right: 5px;
}

#tygk{
  color: rgba(157, 218, 207,0.6); /*適用外期間*/
  font-weight:bold;
  font-size: 15px;
  margin-right: 5px;
}

#fm{
  color: rgba(166, 148, 173, 0.535);/*不明*/
  font-weight:bold;
  font-size: 15px;
  margin-right: 5px;
}


.container5 {
  
  color:rgba(172, 167, 159, 0.816);
  font-size:20px ;
  height: 250px;
  margin-left: 0px;
  font-weight: bold;
  
}

.infp{
  color:rgba(209, 188, 157, 0.816);
  font-weight: bold;
  height: 30px;
  line-height:40px;
  font-size: 20px;
  
  }




  .ttk{
    color:rgba(230, 213, 189, 0.816);
    font-weight: bold;
    height: 30px;
    line-height:40px;
    font-size: 20px;
    
    }

    .ttk:hover{
      color:rgba(209, 188, 157, 0.816);
      font-weight: bold;
      height: 30px;
      margin-bottom: 5px;
      
      }
  
      


 


.ajh{
  font-size: 12px;
  

}



input {
  border: 1px solid rgba(230, 213, 189, 0.816);
  width: 120px;
}

select {
  border: 1px solid rgba(230, 213, 189, 0.816);
  width: 120px;
  height: 25px;
}

input:focus {
  border: 2px solid rgba(230, 213, 189, 0.816);
  outline: 0;
}

select:focus {
  border: 2px solid rgba(230, 213, 189, 0.816);
  outline: 0;
}


#bht{
  width: 100px;
  height:30px;
  margin-left:10px ;
  margin-right:10px ;
  
  border: 2px solid; 
  font-weight:bold;
  appearance: none;
  border-radius: 5px;
  color: rgba(230, 213, 189, 0.816);
  background: rgb(255, 255, 255);
  font-size: 12px;
  border-color: rgba(230, 213, 189, 0.816);
}


#bht:hover{
  background:rgba(230, 213, 189, 0.816) ; 
  color: #fff;
}


.ip1{
  width: 120px;
  height: 20px;
  margin: 4px;
}


canvas {
   
  margin-left: 5px;
  width: 1300px;
  
}
